<div class="pl-3 pt-3">
  <h1><%= @list.name %></h1>
</div>
<div class="pl-3">
  <div class="form-actions btn btn-warning mb-3">
    <%= link_to 'Add a bookmark', new_list_bookmark_path(@list) %>
  </div>
  <div class="form-actions btn btn-warning mb-3">
    <%= link_to 'Back', lists_path %>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <% @list.bookmarks.each do |bookmark| %>
    <%= cl_image_tag bookmark.photo.key, height: 300, width: 400, crop: :fill %>
    <div class="card-body">
      <h5 class="card-title"><%= bookmark.movie.title %></h5>
      <p class="card-overview"><%= bookmark.movie.overview %></p>
    </div>
  <% end %>
</div>
