<%= simple_form_for [@list, @bookmark] do |f| %>

  <div class="form-inputs">
    <%= f.association :movie %>
    <%= f.input :photo, as: :file %>
    <%= f.input :comment %>
  </div>

  <div class="form-actions btn btn-primary mb-3">
    <%= f.button :submit %>
  </div>
<% end %>
